<!DOCTYPE html>
<html ng-app="dataApp">
<head>
    <title>Http request!</title>
    <script src="angular.js"></script>
    <script src="bootstrap.js"></script>
    <script src="globalconst.service.js"></script>
    <script src="data.service.js"></script>
    <script src="service.service.js"></script>
    <script src="parentCtrl.js"></script>
</head>
<body >

    <div ng-controller="parentCtrl">

        <p>Choose id of post : <label>
            <input type="number" ng-model="id">
        </label></p>
        <button ng-click="getPost(id)">Get the post</button>
        <hr>
        <table ng-show="ds.post === null" border="1">
            <tr style="background:lightyellow ; padding: 10px">
                <th>#</th>
                <th>userId</th>
                <th>id</th>
                <th>title</th>
                <th>body</th>
            </tr>
            <tr ng-repeat="post in ds.allPosts">
                <td> {{$index}} </td>
                <td>{{post.userId}}</td>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
            </tr>
        </table>

        <p ng-show="ds.post === null">{{ds.postError}}</p>
        <table ng-show="ds.post !== null" border="1">
            <tr style="background:lightyellow ; padding: 10px">
                <th>userId</th>
                <th>id</th>
                <th>title</th>
                <th>body</th>
            </tr>
            <tr>
                <td>{{ds.post.userId}}</td>
                <td>{{ds.post.id}}</td>
                <td>{{ds.post.title}}</td>
                <td>{{ds.post.body}}</td>
            </tr>
        </table>
    </div>

    
    <br>
</body>
</html>